@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

:root {
  --black: #000;
  --white: #fff;
  --teal: #47e0fd;
  --blue: #2995fa;
  --gum-purple: #5f00e4;
  --dark-lilac: #241153;
  --pale-lilac: #e0a7f7;
  --magenta: #9621cd;
  --pearl-white: #f6faf3;
  --slate-gray: #a0a0a0;
  --dove-gray: #e8e8e8;
  --midnight-gray: #4a4a4a;
  --disabled-gray: #c2c2c2;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'TT-InterphasesLight', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gum-purple);
}

.limits-container {
  max-width: 1280px;
  width: calc(100% - 70 * 2px);
  margin: 0;
}

.section-title {
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid var(--white);
  font-family: 'PolySansMedium', Helvetica, Arial, sans-serif;
  padding-bottom: 23px;
  margin: 0;
}

.section-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.button {
  max-width: 400px;
  background-color: var(--white);
  border: 2px solid var(--gum-purple);
  border-radius: 2px;
}

.button:hover {
  box-shadow: 4px 4px 0px 0px var(--gum-purple);
}

@media screen and (max-width: 1040px) {
  .limits-container {
    width: calc(100% - 30px * 2);
  }

  .section-title {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
  }
}

@media screen and (max-width: 700px) {
  .limits-container {
    width: calc(100% - 10px * 2);
  }
}

@media screen and (max-width: 700px) {
  .section-title {
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .section-text {
    font-size: 11px;
    line-height: 16px;
  }
}
