.dashboard {
  max-width: 1140px;
  width: calc(100% - 70 * 2px);
  margin: 0 auto;
}

/* Styles for the grid items */
.grid-item {
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add borders or styles as needed */
  text-align: left;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  min-width: 250px;
  max-width: 250px;
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-item-progress {
  grid-area: progres;
  background-color: #f7f7f7;
  /* background-image: url(../../images/chart.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.grid-item-messages {
  grid-area: messages;
  background-color: var(--white);
  border: none;
}

/* .grid-item-challenges {
  grid-area: challenges;
}

.grid-item-schedules {
  grid-area: schedules;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 320px;
} */

.grid-item-name {
  font-family: 'PolySansNeutral';
  font-size: 24px;
  color: var(--dark-lilac);
}

.dark {
  color: var(--white);
}

.grid-link {
  font-family: 'TT-InterphasesMono';
  font-size: 18px;
  text-decoration: none;
  color: var(--white);
  margin: 10px 0;
  z-index: 150;
  display: inline-block;
  max-width: fit-content;
}

.grid-link_state_active {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid var(--white);
}

.grid-link:hover {
  font-weight: bold;
}

.grid-main-links {
  display: flex;
  flex-direction: column;
}

.grid-bottom-links {
  display: flex;
  flex-direction: column;
}
