/* Carousel container */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
  margin-top: 60px;
  position: relative;
}

/* Carousel item list */
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}

/* Individual carousel items */
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 380px;
  height: 560px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;

  /* Customize the background color for each item */
  /* Example gradients are provided for the first five items */
  &:nth-child(1) {
    background: var(--white);
    background-image: url(../../../images/Group39507.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:nth-child(2) {
    background: var(--white);
    background-image: url(../../../images/Group39506.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:nth-child(3) {
    background: var(--white);
    background-image: url(../../../images/Group39506.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:nth-child(4) {
    background: var(--white);
    background-image: url(../../../images/Group39507.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:nth-child(5) {
    background: var(--white);
    background-image: url(../../../images/Group39506.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* Style for active and adjacent items */
  &[data-pos='0'] {
    z-index: 5;
  }

  &[data-pos='-1'],
  &[data-pos='1'] {
    opacity: 0.7;
    filter: blur(1px) grayscale(10%);
  }

  &[data-pos='-1'] {
    transform: translateX(-40%) scale(0.9);
    z-index: 4;
  }

  &[data-pos='1'] {
    transform: translateX(40%) scale(0.9);
    z-index: 4;
  }

  &[data-pos='-2'],
  &[data-pos='2'] {
    opacity: 0.4;
    filter: blur(3px) grayscale(20%);
  }

  &[data-pos='-2'] {
    transform: translateX(-70%) scale(0.8);
    z-index: 3;
  }

  &[data-pos='2'] {
    transform: translateX(70%) scale(0.8);
    z-index: 3;
  }
}

/* Active item style */
.carousel__item_active {
  /* Add styles for the active item here */
}

/* Add any additional styles as needed */
/* Add this to your Carousel.css or a separate CSS file */

.buttons {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto 32px;
  justify-content: center;
  z-index: 100;
}

.connect-button,
.reject-button {
  font-family: 'TT-InterphasesMono';
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  width: 134px;
  height: 40px;
  margin: 12px;
  color: var(--dark-lilac);
  max-width: 400px;
  background-color: var(--white);
  border: 2px solid var(--gum-purple);
  border-radius: 2px;
}

.connect-button:hover {
  background-color: var(--teal);
  box-shadow: 4px 4px 0px 0px var(--gum-purple);
}

.reject-button:hover {
  background-color: #e5606f;
  box-shadow: 4px 4px 0px 0px var(--gum-purple);
}

.button {
  max-width: 400px;
  background-color: var(--white);
  border: 2px solid var(--gum-purple);
  border-radius: 2px;
}
