.chat-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-width: 500px;
  margin: 0;
  height: 100%;
  padding-bottom: 10px;
}

.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px 0;
  font-family: 'TT-InterphasesMono';
}

.message {
  font-size: 14px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  word-wrap: break-word;
  background-color: var(--dove-gray);
}

.user {
  background-color: #f0f0f0;
  align-self: flex-end;
}

.message-sender {
  font-weight: bold;
  margin-right: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
}

input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: var(--gum-purple);
  color: var(--gum-purple);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--teal);
}
