.game {
  height: 100vh;
  background: var(--gum-purple);
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  padding-bottom: 20px;
}

.game__container {
  height: 50vh;
  width: 100%;
  position: relative;
}

.grid {
  display: grid;
  place-items: center;
  position: relative;
}

.indicators {
  height: 90vh;
}

.reactions-container {
}
/* .thumbsup,
.thumbsdown {
  background-color: var(--white);
  border: 2px solid var(--teal);
  border-radius: 2px;
  box-shadow: 4px 4px 0px 0px #47e0fd;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  color: var(--dark-lilac);
  font-family: 'TT Interphases Pro Trl';
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.399px;
} */

/* .thumbsup {
  margin-right: 10px;
}

.thumbsdown {
  margin-left: 10px;
} */

/* Animation for glowing effect */
@keyframes glow {
  0% {
    color: var(--dark-lilac);
  }
  50% {
    color: #00ff00; /* Green color for thumbs up */
  }
  100% {
    color: var(--dark-lilac);
  }
}

/* Apply the glowing animation on thumbs up click */
.thumbsup.reactions.clicked .card-title {
  animation: glow 1s linear;
}

/* Apply the glowing animation on thumbs down click */
.thumbsdown.reactions.clicked .card-title {
  animation: glow 1s linear;
}

.reactions {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  transform-origin: center; /* Set the transform origin to the center of the element */
  transition: transform 0.2s ease-in; /* Apply transition only to the transform property */
}

.reactions:hover {
  scale: 1.01;
}

.thumbsup {
  background: url(../../images/thumbsup.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 7vw;
  height: 7vh;
  transform: translate(40px, 480px);
}

.thumbsdown {
  background: url(../../images/thumbsdown.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 7vw;
  height: 7vh;
  transform: translate(-138px, 500px);
}

.reaction-slash {
  position: absolute;
  z-index: 3;
  font-size: 58px;
  /* font-weight: bold; */
  transform: translate(-10px, 480px);
}
.play-hint {
  font-size: 32px;
  color: var(--white);
  font-family: 'TT-InterphasesMono';
  margin-top: 16px;
  max-width: 68%;
  align-self: self-end;
  padding-bottom: 4px;
}

@media (max-width: 480px) {
  body {
    font-size: 18px;
  }

  .card {
    width: 100%;
    padding: 0 32px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
